

.answers  {
   margin-top: 20px;
       
}
.question{
    background-color: #424242 ;
    color: white;
}


input{
    display: block;
    margin-bottom: 50px;
    font-size: large;
}

.next-btn{
    background-color:#424242 ;
    width:100%;
    padding: 15px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    &:active{
        opacity: 0.5;
    }
}